<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] [%X{correlationId}] %c{1}: %m%n"/>
        </Console>

        <!-- Rolling File Appender for application logs -->
        <RollingFile name="RollingFile"
                     fileName="logs/youtube-playlist-api.log"
                     filePattern="logs/youtube-playlist-api-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] [%X{correlationId}] %c{1}: %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Application logger - DEBUG for full traceability -->
        <AsyncLogger name="com.example" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </AsyncLogger>

        <!-- Mule runtime loggers -->
        <AsyncLogger name="org.mule" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </AsyncLogger>

        <!-- HTTP Connector - useful for debugging HTTP request/response -->
        <AsyncLogger name="org.mule.extension.http" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </AsyncLogger>

        <!-- DataWeave transform logging -->
        <AsyncLogger name="com.mulesoft.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </AsyncLogger>

        <!-- Suppress noisy third-party loggers -->
        <AsyncLogger name="org.apache" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>

        <AsyncLogger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </AsyncLogger>

        <!-- Root logger fallback -->
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </AsyncRoot>

    </Loggers>

</Configuration>
